html,
body,
#root,
#root div:only-child,
.gantt-container {
  height: 100%;
}

#editIcon {
  cursor: pointer;
  margin-top: 6px;
}

#deleteIcon {
  width: 30px;
  height: 30px;
  fill: firebrick;
  margin-top: 1px;
  cursor: pointer;
}

#plusIcon {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  fill: #299bc4;
  cursor: pointer;
}
