.nav-bar {
  height: 50px;
  width: 100%;
  background-color: rgb(41,156,180);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.nav-link {
  height: 30px;
}

.link {
  text-decoration: none;
  color: black;
}